.kontakt {
    body{
        margin:0; 
        font-family: 'Raleway',sans-serif;     
    }
    
    h1{
        font-size: 65px;
        font-weight: bold;
        color:white;
    }
    
    h3{
        font-size: 30px;
        text-align: center;
        color: black;
    }
    
    .main-box{
        height:120vh;
        width:100%;
        background-image:url(img/contact-bgr.jpg);
        background-size: cover;
        background-position: bottom;  
        display:flex;
        flex-direction: column;
         align-items: center;
         
    }
    
    .contact-box{
        width:460px;
        height:560px;
        background-color:rgb(238,235,235);
         border-radius:15px;
        padding:10px;
        box-shadow: 3px 3px 8px 8px rgba(0 ,0 ,0 ,0.4);
        color:black;
    }
    
    form{
        width:400px;
        height:600px;
        padding:12px;
        display: flex;
        flex-direction: column;
        border-color: rgb(228, 228, 228);
        border-radius: 15px;
        
    }
    
    input{
        padding:10px;
        height:40px;
        border: none;
        border-radius: 10px;
        margin-bottom: 10px;
        font-size:18px;
        margin-left:38px;
    }
    
    textarea{
        border-radius: 10px;
        font-size: 18px;
        margin-left: 38px;
        padding-top: 10px;
        padding-left: 10px;
        border: none;
    }
    
    .submit-btn{
        width: 212px;
        height: 50px;
        border-radius: 10px;
        border: none;
        margin-top: 57px;
        margin-left: 105px;
        background-color:rgb(0,128,0);
        font-size: 20px;
        font-weight: 600;
        color:white;
    }
    
    .submit-btn:hover{
        cursor: pointer;
        background-color:rgb(7, 99, 7);
        border-style:1px solid white;
        box-shadow: 7px -7px 10px 4px rgba(135, 156, 135, 0.8);
    }
    
    
    @media(max-width:560px){
          h1{
            font-size: 35px;   
          }
    
          .contact-box{
            width: 335px;
            height: 455px;
          }
    
          h3{
            font-size: 20px;
          }
    
          form{
            width: 272px;
            height: 360px;
            padding: 10px;
          }
    
          textarea{
            width: 223px;
            height: 150px;
          }
    
          .submit-btn{
            width: 150px;
            margin-top: 30px;
            margin-left: 80px;
          }
    
    }
    
    @media(max-width:450px){
        .contact-box{
            width: 255px;
            height: 400px;
        }
    
        form{
            padding: 0;
        }
    
        textarea{
            width: 166px;
            font-size: 15px;
        }
    
        .submit-btn{
            margin-top: 20px;
            margin-left: 55px;
            height: 40px;
            font-size: 15px;
        }
    
        input{
            width: 158px;
            height: 20px;
            font-size: 15px;
        }
    }
    
    
    
    
    
      
}

body {
    margin: 0;
}

.bg1 {
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #faf8f8;
    height: 300px;
    display: flex;
    justify-content: center;

}

.bg1-inner {
    display: flex;
    justify-content: center;
    width: 90%;

}

.inner-r {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85%;
    font-size: large;
}

.button {
    width: 200px;
    padding: 8px 8px 8px;
    color: #faf8f8;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    background-color: #008000;
    transition: all ease-in-out 0.2s;
}

.button:hover {
    background-color: #004b00;
    cursor: pointer;
}

.bg1 img {
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.bg2 {
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #eeebeb;
    height: 300px;


}

.bg2 h2 {
    text-align: center;

}

.bg2_inner {
    display: flex;
    justify-content: space-between;
    padding: 32px;

}

.bg2_inner p {
    text-align: center;
}

.bg2_inner img {
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    transition: all ease-in-out 0.2s;
}

.bg2_inner img:hover {
    cursor: pointer;
    transform: scale(1.1);

}

.bg3 {
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #faf8f8;
    height: 300px;


}

.bg3-inner {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    padding-top: 32px;
    width: 90%;

}

.inner-2r {
    padding-left: 100px;
    padding-right: 50px;
    height: 85%;
    font-size: large;
}

.bg3 img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: all ease-in-out 0.2s;
}

.bg3 img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.bg3 h2 {
    text-align: center;
}

@media (max-width: 1070px) {
    .bg1 {
        height: 600px;
    }

    .bg1-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bg1-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
    }

    .inner-r {
        padding: 0;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .bg2 {
        height: 700px;
    }

    .bg2_inner {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 32px;
    }

    .bg2 p {
        margin-top: 3px;
    }

    .bg3 {
        height: 500px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .bg3 h2 {
        padding-left: 16px;
        padding-right: 16px;
    }

    .bg3-inner {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }

    .inner-2r {
        padding-bottom: 16px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 400px) {
    .bg1 img {
        height: 200px;
    }

    .bg3 {
        height: 600px;
    }
}