
  
  .bg-gray {
    background-color: #efefef;
  }
  
  .bg-gray-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .bg-gray h2 {
    padding-top: 20px;
    margin-bottom: 0px;
    text-align: center;
  }
  
  /* Der erste von drei Hauptcontainern, nach dem Header [Rezept des Tages] */
  .first-main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
  }
  
  .shadow-div {
    box-shadow: 0px 5px 5px #efefef;
  }
  
  /* Der innere Container des ersten Hauptcontainers, nach dem Header */
  .inner-first-main-div {
    display: flex;
    justify-content: center;
    width: 70%;
  }
  
  .inner-first-main-div img {
    width: 400px;
    height: 300px;
    object-fit: cover;
  }
  
  /* Der Container fÃ¼r die Ãœberschrift, Beschreibung und Button [Rezeptes des Tages] */
  .sub-inner-first-main-div {
    flex-direction: column;
    width: 70%;
    margin-left: 40px;
    justify-content: space-between;
    display: flex;
  }
  
  .sub-inner-first-main-div h2 {
    text-align: start;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
  }
  
  .sub-inner-first-main-div a {
    transition: 150ms;
  }
  
  #openrecipe {
    width: 110px;
    font-family: raleway;
    color: white;
    background-color: #008000;
    padding: 8px 30px 8px;
    border-radius: 2px;
  }
  
  #openrecipe:hover {
    transition: 150ms;
    font-family: raleway;
    color: white;
    background-color: #005700;
    padding: 8px 30px 8px;
  }
  
  /* Der zweite Hauptcontainer der Seite [Lust auf was neues?] */
  
  .second-main-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 400px;
    width: 70%;
  }
  
  /* Die Container innerhalb des zweiten HauptContainer [Lust auf was Neues?] */
  
  .second-main-div img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
  .inner-second-main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 250px;
  }
  
  .inner-second-main-div img {
    transition: 1000ms;
  }
  
  .inner-second-main-div img:hover {
    transform: scale(1.5);
    transition: 1000ms;
  }
  
  .img-zoom-div {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    object-fit: cover;
    align-items: center;
    overflow: hidden;
  }
  
  .hover:hover {
    transform: scale(1.5);
  }
  
  /* Untere Hälfte */
  
  .whatisbetter {
    padding-bottom: 70px;
    padding-left: 15%;
    display: flex;
    height: 250px;
    width: 70%;
    justify-content: center;
  }
  
  .picture_container {
    align-items: center;
    margin-left: 200px;
    display: flex;
    width: 250px;
    height: 250px;
  }
  
  .picture_container img {
    right: 15%;
    position: absolute;
    border-radius: 10px;
    width: 230px;
    height: 230px;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
  }
  
  .hideImg{
    transition: opacity 1.5s ease-in-out !important;
    opacity: 0% !important;
    z-index: -1 !important;
  }
  
  
  /* Footer */
  
  .footer {
    background-color: #403b3b;
  }
  
  .social_media {
    display: flex;
    justify-content: space-between;
    padding: 30px;
  }
  
  
  .social_media_icon {
    height: 50px;
    padding: 15px;
  }
  
  .social_media_links img{
    box-sizing: content-box ;
  }
  
  
  .copyright {
    display: flex;
    justify-content: space-between;
    background-color: #403b3b;
    color: white;
    padding: 0 30px;
  }
  
  .about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .about a {
    padding: 10px;
    color: white;
    text-decoration: none;
  }
  
  .profile {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 2%;
    
  }
  
  .contact {
    background-image: url("img/contact-bg.jpg");
    background-position-y: top;
    background-size: cover;
    height: 75vh;
    min-height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3%;
    margin-top: 7px;
  }
  
  .contactform {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
  }
  
  .contactform input {
    border: 2px solid rgb(0, 128, 0);
    border-radius: 7px;
    margin-top: 10px;
    font-weight: bold;
    min-width: 300px;
    height: 25px;
    width: 30vw;
  }
  
  .contactform textarea {
    border: 2px solid #008000;
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    min-height: 80px;
    min-width: 300px;
    width: 30vw;
    resize: none;
  }
  
  .contactarea button {
    background-color: #008000;
    border: 1px solid rgb(226, 221, 221);
    border-radius: 8px 8px 8px 8px;
    padding: 8px 32px;
    color: white;
  }
  
  .contactarea button:hover {
    background-color: #005700;;
  }
  
  .contactarea {
    background-color: white;
    opacity: 0.9;
    border-radius: 20px;
    padding: 10px;
  }
  
  .align-center{
    text-align: center;
  }
  
  /*Media Mainpage*/
  
  @media (max-width: 1270px) {
    nav {
      display: none !important;
    }
  
    .inner-first-main-div img {
      width: 300px;
      height: 300px;
    }
  
    .resp-menu {
      display: flex;
      top: 40px;
    }
  }
  
  @media (max-width: 950px) {
    .whatisbetter {
      padding-bottom: 40px;
      padding-left: 15%;
      display: flex;
      height: 400px;
      width: 70%;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  
    body {
      text-align: center;
    }
  
    .first-main-div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 650px;
    }
  
    .inner-first-main-div {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 70%;
      flex-direction: column;
    }
  
    .inner-first-main-div img {
      width: 400px;
      height: 300px;
      object-fit: cover;
    }
  
    .sub-inner-first-main-div h2 {
      text-align: center;
      padding-bottom: 0;
      padding-top: 10px;
      margin-top: 0;
      margin-left: 0;
    }
  
    .sub-inner-first-main-div {
      width: 65%;
      margin-left: 0px;
      padding-top: 8px;
      align-items: center;
    }
  
    .sub-inner-first-main-div p {
      margin-bottom: 10px;
    }
  
    .second-main-div {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-top: 20px;
      height: 870px;
      width: 70%;
    }
  
    .inner-second-main-div {
      margin-bottom: 40px;
    }
  
    .picture_container {
      justify-content: center;
      margin: 0;
      display: flex;
      width: 270px;
      height: 270px;
    }
    .picture_container img {
      right: auto;
      position: absolute;
      border-radius: 10px;
      width: 230px;
      height: 230px;
      opacity: 1;
      transition: opacity 1.5s ease-in-out;
    }
  
    .whatisbetter p{
      margin-top: 30px;
      padding-top: 30px;
    }
  }
  
  @media (max-width: 700px) {
    
    .overlay-menu{
      top: 65px;
    }
  
    .resp-menu {
      display: flex;
      top: 10px;
    }
    
    .first-main-div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 600px;
    }
  
    .sub-inner-first-main-div {
      width: 80%;
      margin-left: 0px;
      padding-top: 8px;
    }
  
    .inner-first-main-div {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  
    .inner-first-main-div img {
      width: 350px;
      height: 235px;
      object-fit: cover;
      margin-left: 0%;
    }
  
    .logo_div {
      justify-content: flex-start;
      align-items: center;
      width: 270px;
      height: 75px;
      display: flex;
    }
  
    .logo_div img {
      object-fit: cover;
      width: 100%;
    }
  
    .social_media {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
    }
    .copyright {
      display: flex;
      justify-content: space-between;
      background-color: #403b3b;
      color: white;
      padding: 5px;
      flex-direction: column;
      align-items: center;
    }
  
    .copyright a{
      color: white !important;
      text-decoration: none;
    }
  
    .whatisbetter {
      padding-bottom: 40px;
      padding-left: 15%;
      display: flex;
      height: 400px;
      width: 70%;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  
    .whatisbetter p{
      margin-top: 20px;
      padding-top: 20px;
    }
  }
  @media (max-width: 580px) {
    header {
      display: flex;
      justify-content: space-between;
    }
  
    .whatisbetter {
      padding-bottom: 40px;
      padding-left: 10%;
      display: flex;
      height: 400px;
      width: 80%;
      justify-content: center;
    }
  
    .logo_div {
      width: 270px;
      height: 75px;
      display: flex;
    }
  
    .logo_div img {
      object-fit: cover;
    }
  
    .sub-inner-first-main-div {
      width: 90%;
      margin-left: 0px;
      padding-top: 8px;
    }
  
    .social_media {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
    }
  
    .copyright {
      display: flex;
      justify-content: space-between;
      background-color: #403b3b;
      color: white;
      padding: 5px;
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media (max-width: 490px) {
    .inner-first-main-div {
      display: flex;
      justify-content: center;
      width: 95%;
      flex-direction: column;
    }
  
    h2 {
      max-width: 80%;
      padding: 0 10%;
    }
  
    .first-main-div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 600px;
    }
  
    .picture_container {
      margin-left: 5px;
      display: flex;
      width: 250px;
      height: 250px;
    }
  
  
    .whatisbetter {
      padding-bottom: 40px;
      padding-left: 5%;
      display: flex;
      height: 400px;
      width: 90%;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  
    .social_media {
      display: flex;
      justify-content: space-between;
      padding: 5px;
    }
  
    .social_media_icon {
      height: 40px;
      padding: 5px;
    }
  
    .sub-inner-first-main-div {
      width: 80%;
      margin-left: 10px;
      height: 300px;
    }
  
    .inner-first-main-div img {
      width: 250px;
      height: 200px;
      object-fit: cover;
      margin-left: 0%;
    }
  
    h2 {
      text-align: center;
      padding-top: 0px;
      padding-bottom: 20px;
    }
  
    .about {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  
  @media (max-width: 430px) {
    .sub-inner-first-main-div {
      width: 95%;
      margin-left: 10px;
      height: 300px;
    }
  
    .sub-inner-first-main-div {
      width: 95%;
      margin-left: 10px;
      height: 355px;
    }
  
    .resp-menu{
      right: 2px;
    }
  
    header {
      margin-left: 1%;
      margin-right: 1%;
    }
  
   .whatisbetter p{
    padding-top: 20px;
    margin-top: 30px;
   }
  
   .whatisbetter {
    padding-bottom: 40px;
    padding-left: 5%;
    display: flex;
    height: 450px;
    width: 90%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  }
  
  /* Rezeptseite */
  
  .star {
    width: 32px;
    height: 32px;
    margin-left: 20px;
    cursor: pointer;
    object-fit: cover;
    display: flex;
    justify-content: center;
  }
  
  .star_empty {
    background-image: url(img/star_empty.png);
    background-size: contain;
    width: 32px;
    height: 32px;
    margin-left: 20px;
    cursor: pointer;
    object-fit: cover;
  }
  
  .star_full {
    background-image: url(img/star_full2.png);
    background-size: contain;
    width: 32px;
    height: 32px;
    margin-left: 20px;
    cursor: pointer;
    object-fit: cover;
  }
  
  .zutaten {
    margin-top: 15px;
  }
  
  .button {
    background-color: #008000;
    border: 1px solid rgb(226, 221, 221);
    border-radius: 0 8px 8px 0;
    padding: 8px 32px;
    color: white;
  }
  
  .button:hover {
    background-color: #029002;
  }
  
  /*Input Feld für Rezept */
  #user-input {
    margin-left: 16px;
    padding: 8px;
    border-radius: 8px 0 0 8px;
    border: 1px solid rgb(226, 221, 221);
    font-weight: bold;
    width: 150px;
  }
  
  .amount-ing {                                           /*Rechtschreibfehler */
    border-radius: 8px 0 0 8px;
    border: 1px solid rgb(226, 221, 221);
    font-weight: bold;
    width: 70px;
    border: none;
  }
  
  /*Bild für Rezept!*/
  .image {
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 250px;
  }
  
  .font-size-responsive {
    font-size: 35px;
    margin-top: 10px;
  }
  
  
  .headline-recipe {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 15%;
  }
  
  .recipe-headline-text {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 25px;
  }
  
  .recipe-div {
    display: flex;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  .recipe-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15%;
    margin-top: 60px;
  }
  
  .recipe-info-short {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 25px;
  }
  
  .recipe-info-img {
    height: 15px;
    padding-right: 10px;
  }
  
  .amount-calc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15%;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  
  /* Tabelle für Rezept*/
  table {
    margin-left: 100px;
    margin-top: 30px;
  }
  
  .amount-gray {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 5px;
    height: 40px;
  }
  
  .amount-white {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 5px;
    height: 40px;
  }
  
  .amount-padding {
    
    padding-left: 20px;
  }
  
  .amount-padding-2 {
    display: flex;
    justify-items: flex-start;
    align-items: center;
  }
  
  .recipe-text{
  
  display: flex;
  align-items: center;
  }
  
  .preparation {
  
    margin-bottom: -44px;
    margin-top: 50px;
    margin-left: 15vw;
    font-size: 25px;
  }
  
  /* Responsive ab 620px*/
  @media (max-width: 620px) {
    .font-size-responsive {
      font-size: 30px;
      margin-top: 10px;
    }
    .image {
      width: 100%;
      height: 130px;
    }
  
    .recipe-info-short {
      margin: 10px 10px 0 0;
      padding-left: 10px;
      padding-right: 10px;
    }
  
    #user-input {
      width: 80px;
    }
  
    .button {
      display: flex;
      width: 130px;
      justify-content: flex-start;
      align-items: flex-start;
    }
  
    #change-amount-btn {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: 15px;
    }
  }
  
  .recipe-noun {
    display: flex;
    flex-direction: column;
    margin: 20px 15% 10px;
  }
  
  /* Responsive ab 546px*/
  @media (max-width: 546px) {
    .headline-recipe {
      display: flex;
      align-items: center;
      margin-left: 60px;
    }
  
    .star {
      width: 25px;
      height: 25px;
      margin-left: 20px;
      cursor: pointer;
    }
    .star_New {
      background-image: url(img/star-2-32.png);
      width: 30px;
      height: 30px;
      margin-left: 20px;
      cursor: pointer;
    }
  
    .font-size-responsive {
      font-size: 25px;
      margin-top: 10px;
    }
  
    .amount-gray,
    .amount-white {
      margin-left: 60px;
      margin-right: 60px;
    }
  
    .recipe-div {
      margin-left: 60px;
      margin-right: 60px;
    }
  
    .image {
      width: 100%;
      height: 130px;
    }
  
    #user-input {
      margin-left: 0px;
      width: 55px;
      padding: 8px;
      border-radius: 8px 8px 8px 8px;
      border: 1px solid rgb(226, 221, 221);
      font-weight: bold;
    }
  
    .button {
      display: flex;
      width: 130px;
      border-radius: 8px 8px 8px 8px;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .recipe-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  
    .recipe-info-short {
      margin: 10px 0 0 0;
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .amount-calc {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-left: 60px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  
    .zutaten {
      margin-bottom: 5px;
    }
  
    #user-input {
      margin-bottom: 10px;
    }
  }
  
  /* Responsive ab 470px*/
  @media (max-width: 470px) {
    .headline-recipe {
      display: flex;
      align-items: center;
      margin-left: 60px;
    }
  
    .star {
      width: 22px;
      height: 22px;
      margin-left: 20px;
      cursor: pointer;
    }
  
    .star_New {
      background-image: url(img/star-2-32.png);
      width: 30px;
      height: 30px;
      margin-left: 20px;
      cursor: pointer;
    }
    .font-size-responsive {
      font-size: 16px;
      margin-top: 10px;
    }
    .button {
      width: 130px;
    }
  
    .amount-padding-1 {
      font-size: 12px;
    }
  
    .amount-padding-2 {
      font-size: 12px;
    }
    .amount-padding-3 {
      font-size: 12px;
    }
  }
  
  