<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body>


    <header>

        <div>
            <img class="logo-head" src="img/logo.png" alt="">
        </div>


            <img onclick="showMobilMenu()" class="mobile-burger" src="img/menu.png">
           
            <div id= "mobil-menu" class="nav-mobile">
                <div class="burger">
                <a href="index.html">Start</a>
                <a href="salad.html">Rezept des Tages</a>
                <a href="contact.html">Kontakt</a>
                <a href="#">Impressum</a>
                <button onclick="removeMenu()" class="mobil-button">Schließen</button>
                </div>
            </div>
 
    <div class="nav-header">
        <nav>
        <a href="index.html">Start</a>
        <a href="salad.html">Rezept des Tages</a>
        <a href="contact.html">Kontakt</a>
        <a href="#">Impressum</a>
        
        </nav>
    </div>





    </header>



    
</body>
</html>